@property --gradientStartColor {
  syntax: "<color>";
  initial-value: #1460b2;
  inherits: false;
}

@property --gradientEndColor {
  syntax: "<color>";
  initial-value: #1460b2;
  inherits: false;
}

#cart {
  z-index: 999;

  background-color: var(--colorSeptenary);

  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.2));

  & #closeCartBtn {
    background: linear-gradient(
      160deg,
      var(--gradientStartColor) 40%,
      var(--gradientEndColor)
    );

    transition: --gradientStartColor var(--trasitionDuration),
      --gradientEndColor var(--trasitionDuration);

    &:hover {
      --gradientStartColor: var(--colorTertiary);
      --gradientEndColor: var(--colorQuaternary);
    }
  }
}

#request-pricing-link {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.7rem;

  margin: 0.75rem 0.5rem;
  padding: 0.8rem;

  border-radius: var(--borderRounded);

  background: linear-gradient(
    160deg,
    var(--gradientStartColor) 40%,
    var(--gradientEndColor)
  );
  color: white;

  transition: --gradientStartColor var(--trasitionDuration),
    --gradientEndColor var(--trasitionDuration);

  &:hover {
    --gradientStartColor: var(--colorTertiary);
    --gradientEndColor: var(--colorQuaternary);
  }

  & > p {
    font-size: 150%;
  }
}

@media screen and (max-width: 768px) {
  #cart {
    width: 100%;

    & #cart-title {
      width: 40vw;
    }

    & #request-pricing-link {
      & svg {
        width: 40px;
      }

      & p {
        font-size: 130%;
      }
    }
  }
}
