.mission-card {
  width: 67%;
  height: 20rem;

  color: white;

  border-radius: 2rem;

  position: relative;

  background: url("../../../../assets/images/missionBackground1.webp");
  background-size: cover;
  background-position: center;

  & > div {
    width: 51%;
    padding: 2rem;
  }

  & > img {
    height: 24rem;
    position: absolute;

    bottom: 0;
    right: 0;
  }
}

.mission-title {
  font-size: 2rem;
}

.mission-description {
  font-size: 1.3rem;
}

@media screen and (max-width: 1024px) {
  .mission-card {
    width: 100%;
    height: 15rem;

    & > div {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .mission-card {
    height: 24rem;
  }
}
