#pagination button {
  border: 1px solid var(--colorSenary);
  border-radius: var(--borderRounded);

  width: 3rem;

  padding: 0.3rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
