header {
  height: var(--headerHeight);

  position: sticky;
  top: 0;

  background-color: var(--colorSeptenary);
}

#companyLogo {
  width: 5rem;

  object-fit: cover;
}

.companyTitle {
  font-size: 3.6rem;

  margin: -1rem 0;
}

.companySubtitleFirstPart {
  font-size: 1rem;
}

.companySubtitleSecondPart {
  font-size: 0.65rem;
}
