header {
  height: var(--headerHeight);

  position: sticky;
  top: 0;

  background-color: white;

  z-index: 999;

  & > div {
    padding: 0.5rem 8.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & #contact-info {
    width: 45%;

    color: var(--colorSecondary);

    & #phone,
    #address {
      width: 45%;
    }
  }
}

#company-logo {
  width: 7rem;

  object-fit: cover;
}

.company-title,
.company-subtitle-first-part,
.company-subtitle-second-part {
  color: var(--colorSecondary);

  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.company-title {
  margin: -1rem 0;

  font-size: 3.6rem;
  letter-spacing: 0.35rem;
}

.company-subtitle-first-part {
  font-size: 1.15rem;
}

.company-subtitle-second-part {
  margin-top: -0.1rem;
  font-size: 0.7rem;

  font-weight: 600;
}

#cart-btn {
  color: var(--colorSecondary);

  position: relative;

  & > p {
    font-size: 70%;
    font-weight: bold;

    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    position: absolute;

    top: -0.5rem;
    right: -1rem;

    background-color: var(--colorSecondary);
    color: white;

    border-radius: 50%;
  }
}
