#id-to-cart-btn {
  transition: 0.7s;
  background: linear-gradient(
      20deg,
      var(--colorSecondary),
      var(--colorTertiary) 51%,
      var(--colorSecondary)
    )
    var(--x, 0) / 200%;
}

#id-to-cart-btn:hover {
  --x: 100%;
}
